= render partial: 'shared/navbar/navbar', locals: { navbar_element: :my_trips }
.ui.three.column.grid
  .three.wide.column
  .ten.wide.column
    = form_for(@trip, html: { class: 'ui error form segment' }) do |form|
      %h3.ui.header Edit Trip
      = render partial: 'form_fields', locals: { form: form, trip: @trip }
      .field
        = form.submit "Update", class: 'ui green fluid small button'
